<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/apoclogo.png" width="180" height="60" class="d-inline-block align-top" alt="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" *ngIf="!userDetail">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notifications">Notifications</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/faq">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item" *ngIf="userDetail">
          <a class="nav-link" routerLink="/user/{{userid}}">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="userDetail">
          <a class="nav-link" routerLink="/userEditProfile/{{userid}}">Edit profile</a>
        </li>
        <li class="nav-item" *ngIf="userDetail">
          <a class="nav-link" (click)="logOut()" href="#">Log Out</a>
        </li>
        <li class="nav-item" *ngIf="!userDetail">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2 tpBtmSpace">
                <h1 class="text-center">Contact us</h1>
                <p class="text-center">Mussum ipsum cacilds, vidis litro abertis.</p>
                <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <h3>What is the use of this card?</h3>
                            </mat-panel-title>
                            
                          </mat-expansion-panel-header>
                      
                          <p>More than one module matches. Use skip-import option to skip importing the component into the closest module.
                                More than one module matches. Use skip-import option to skip importing the component into the closest module.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    <h3>Why should i buy this card?</h3>
                                  </mat-panel-title>
                                  
                                </mat-expansion-panel-header>
                            
                                <p>More than one module matches. Use skip-import option to skip importing the component into the closest module.
                                      More than one module matches. Use skip-import option to skip importing the component into the closest module.</p>
                              </mat-expansion-panel>
                              <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        <h3>What is the use of this card?</h3>
                                      </mat-panel-title>
                                      
                                    </mat-expansion-panel-header>
                                
                                    <p>More than one module matches. Use skip-import option to skip importing the component into the closest module.
                                          More than one module matches. Use skip-import option to skip importing the component into the closest module.</p>
                                  </mat-expansion-panel>
                                  <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              <h3>Why should i buy this card?</h3>
                                            </mat-panel-title>
                                            
                                          </mat-expansion-panel-header>
                                      
                                          <p>More than one module matches. Use skip-import option to skip importing the component into the closest module.
                                                More than one module matches. Use skip-import option to skip importing the component into the closest module.</p>
                                        </mat-expansion-panel>
                      </mat-accordion>
                      
        </div>
    </div>
</div>