<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#">
      <img src="assets/img/apoclogo.png" width="180" height="60" class="d-inline-block align-top" alt="">
      
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">     
      <li class="nav-item">
        <a class="nav-link" routerLink="/notifications">Notifications</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/faq">Faq</a>
      </li>
      <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/{{userid}}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/userEditProfile/{{userid}}">Edit profile</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logOut()" href="#">Log Out</a>
  </li>

    </ul>   
  </div>
</div>
</nav>

<div class="container">
    <div class="row" style="padding-top:40px;">
        <div class="col-md-2 col-xs-6 offset-md-2 cards">
            <mat-card>
                <i class="material-icons">account_circle</i>
                <h3>{{totalRegUsers}}</h3>
              <p>Registered Users</p>
            </mat-card>            
          </div>
          <div class="col-md-2 col-xs-6">
              <mat-card class="alert alert-success">
                  <i class="material-icons">arrow_downward</i>
                  <h3>{{totalPayments}}</h3>
                  <p>Recived Money</p>
                </mat-card>
          </div>
          <div class="col-md-2 col-xs-6">
              <mat-card class="alert alert-danger">
                  <i class="material-icons">arrow_upward</i>
                  <h3>{{totalSpends}}</h3>
                  <p>Spent Money</p>
                </mat-card>
          </div>
          <div class="col-md-2 col-xs-6">
              <mat-card class="alert alert-primary">
                  <i class="material-icons">refresh</i>
                  <h3>{{availableAmount}}</h3>
                  <p>Available</p>
                </mat-card>
          </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1 tpBtmSpace">
          
              <div class="example-header">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field>
                    </div>
                    
                    <div class="example-container mat-elevation-z8">
                    
                      <mat-table [dataSource]="dataSource" matSort>
                    
                        <!-- ID Column -->
                        <ng-container matColumnDef="SrNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Sr No </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.SrNo}} </mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                    <ng-container matColumnDef="ImageUrl">
                          <mat-header-cell *matHeaderCellDef
                            mat-sort-header>
                            Image
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                                  <img src={{row.ImageUrl}} width="50px" style="cursor:pointer;" height="50px">
                          </mat-cell>
                          </ng-container>
                                          
                        <!-- Name Column -->
                        <ng-container matColumnDef="Name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                              {{row.Name}}
                          </mat-cell>
                        </ng-container>

                        <!-- Address Column -->
                        <ng-container matColumnDef="Purpose">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Purpose </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.Purpose}} </mat-cell>
                          </ng-container>

                      <!-- Address Column -->
                    <ng-container matColumnDef="spend_dt">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.spend_dt | date }} </mat-cell>
                        </ng-container>

                        <!-- Purpose Column -->
                        <ng-container matColumnDef="amount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
                          </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                      </mat-table>
                    
                      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                    </div>
                    
      </div>
  </div>
    
</div>
