<div class="container">
        <div class="row text-center success-template">
            <div class="col-md-6 offset-md-3">
            <img src="../../assets/img/success.png" width="15%"><br><br>
            <h3>Dear, {{userDetail.FullName}}</h3>
            <p style="font-size:20px;color:#5C5C5C;">
                Thank you for registration, now you can get andhrapradesh oc association benfits
                and you can login with ap oc association id <b>{{userDetail.ApocID}}</b> and password.    
            </p>
            <!-- <a class="nav-link" routerLink="/home" mat-raised-button >
                Back to Home </a> -->
                <a class="nav-link" routerLink="/login" mat-raised-button color="primary">
                    Login </a>
        <br><br>
            </div>
            
        </div>
    </div>