<mat-dialog-content>
    <div class="img-thumbnail" style="float:left"><img src="../../assets/img/avatar.jpg" width="80px" height="80px" style="margin:0px 10px"></div>
    <button mat-raised-button color="primary">Verify</button>
    <button mat-raised-button color="warn">Block</button>
    <table class="table ml-auto">
        <tbody>
          <tr>
            <th>Name</th>
            <td>Venkat reddy puthan </td>
            <th>Father's Name</th>
            <td>Subramanyam Reddy</td>
          </tr>
          <tr>
            <th scope="row">Aadhar No</th>
            <td>1234 5678 9876</td>
            <th scope="row">Date of Birth</th>
            <td>22.11.1986 </td>
          </tr>
          <tr>
            <th scope="row">Gender</th>
            <td>Male</td>
            <th scope="row">Mobile</th>
            <td>+91 9800098000 </td>
          </tr>
          <tr>
              <th scope="row">Cast</th>
              <td>Reddy</td>
              <th scope="row">AP OC ID</th>
              <td>APOC000000001 </td>
            </tr>
            <tr>
                <th scope="row">Address 1</th>
                <td>1/22, Addagutta socity</td>
                <th scope="row">Address 2</th>
                <td> Kphb, Opp Jntu </td>
              </tr>
              <tr>
                  <th scope="row">Address 3</th>
                  <td>Hyderabad -500072</td>
                  <th scope="row">Reference Id</th>
                  <td> AP2211P1986 </td>
                </tr>
        </tbody>
      </table>
  </mat-dialog-content>